body {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}
main {
  flex: 1 0 auto !important;
  margin-top: 1em !important;
}
nav {
  background-color: #1976d2 !important;
  width: 100% !important;
}
nav ul {
  display: flex !important;
  flex-direction: 0 !important;
}
nav ul li {
  flex-grow: 1 !important;
  text-align: center !important;
}
nav ul li a {
  display: block !important;
}
div.row {
  text-align: center !important;
}
span.card-title {
  border-bottom: 1px solid #263238 !important;
}
footer.page-footer {
  padding-top: 0 !important;
  text-align: center !important;
}
div.card-content a {
  color: #000 !important;
}