body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
  margin-top: 1em;
}
nav {
  background-color: #1976d2 !important;
  width: 100%;
}
nav ul {
  display: flex;
  flex-direction: 0;
}
nav ul li {
  flex-grow: 1;
  text-align: center;
}
nav ul li a {
  display: block;
}
div.row {
  text-align: center;
}
span.card-title {
  border-bottom: 1px solid #263238;
}
footer.page-footer {
  padding-top: 0;
  text-align: center;
}
div.col.s3 div.card-content a, footer a {
  color: #000 !important;
}
footer a {
  font-weight: bold;
}
table {
  table-layout: fixed;
}
table tr td {
  text-align: center;
  padding: 5px;
}
.pagination {
  display: table;
  margin: 0 auto;
}
.pagination li.active {
  background-color: #1976d2 !important;
}
div.col.s3 div.card-content a.white-text {
  color: #fff !important;
}
div.col.s9 div.card-content table tr td a {
  color: #000;
}
.btn {
  background-color: #1e88e5;
}
.btn:hover {
  background-color: #1976d2;
}
li.collection-item {
  color: #000 !important;
  padding-left: 10px 20px;
  text-align: left;
}
@media only screen and (max-width: 1024px) {
    #sb_wd {
        display: none;
    }
    .col.s9 {
      width: 100% !important;
    }
}